*{
    box-sizing: border-box;
 
}

body{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* background-color: aliceblue; */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.066);
}

.logo{
    color: rgb(6, 133, 206);
    font-weight: 600;
    font-size: 20px;
}

a{
    text-decoration:none;
    color: black;
}

nav ul{
    display: flex;
    gap: 18px;
    list-style: none;
    font-weight: 600;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-section{
    margin-top: 40px;
    width: 400px;
    /* background-color: aliceblue; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.hero-section small{
    padding: 8px 16px;
    background-color: rgba(6, 133, 206, 0.169);
    border-radius: 20px;
    font-size: 10px;
    font-weight: 600;
    color: rgb(6, 133, 206);
}

.hero-section h1{
    font-weight: bolder;
}

.hero-section h1 span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 133, 206);
}

.hero-section p{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-section button{
    padding: 11px 16px;
    background-color: rgb(6, 133, 206);
    border-radius: 5px;
    border: none;
    color: white;
}
